<p id="notice"><%= notice %></p>

<h1>Reservation Details</h1>

<p>
  <strong>Watch:</strong>
  <%= @booking.watch.name %>
</p>

<p>
  <strong>Renter:</strong>
  <%= @booking.user.username %>
</p>

<p>
  <strong>Starting Date:</strong>
  <%= @booking.starting_date %>
</p>

<p>
  <strong>Ending Date:</strong>
  <%= @booking.ending_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back to List', bookings_path %>
