<div class="container-dashboard" data-controller="toggle">
  <div class="row">
    <div class="sidebar col-4 justify-content-start">
      <div class="flex-shrink-0 p-3" style="width: 280px";>
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
          <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-5 fw-semibold">DASHBOARD</span>
        </a>
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-warning" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true" data-action="click->toggle#showContent">
              Your bookings
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small d-none">
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">En cours</a>
                </li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Historique</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-warning" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false" data-action="click->toggle#showWatches">
              Your watches
            </button>
            <div class="collapse" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small d-none" data-toggle-target="toggleUl">
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">En cours</a>
                </li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Historique</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-warning" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
              Requests
            </button>
            <div class="collapse" id="orders-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Inutile 2</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Inutile 2</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Inutile 3</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Inutile 4</a></li>
              </ul>
            </div>
          </li>
          <%# <li class="border-top my-3"></li> %>
          <li class="mb-1">
            <button class="btn btn-warning" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
              Settings
            </button>
            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">...</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">...</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">...</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">...</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="bookings-dashboard col-8 justify-content-center d-none" data-toggle-target="togglableElement">
      <% @current_user_bookings.each do |booking| %>
        <div class= "booking-dashboard-infos">
          <p><strong>Montre</strong>: <%= booking.watch.name %></p>
          <p><strong>Du</strong>: <%= booking.starting_date %></p>
          <p><strong>Au</strong>: <%= booking.ending_date %></p>
          <p><strong>Total</strong>: <%= (booking.ending_date - booking.starting_date) * booking.watch.price %> $ </p>
        </div>
      <% end %>
    </div>
    <div class="watches-dashboard col-8 justify-content-center d-none" data-toggle-target="togglableWatches">
      <p>Mes montres</p>
      <ul>
        <% @current_user_watches.each do |watch| %>
          <li>
            <div class= "watch">
              <p>Montre: <%= watch.name %></p>
              <p>rent periods: <%=  %></p>
            </div>
            <ul>
              <% if watch.bookings == [] %>
                <p><strong>No reservation for this watch 😿</strong></p>
              <% else %>
                <% watch.bookings.each do |booking|%>
                  <li>
                    <p><%= booking.user.username %></p>
                  </li>
                <% end %>
              </ul>
              <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="requests">
    </div>
  </div>
</div>
