<div class="container-watches-new">
  <div class="card-watches-new">
    <h1>Post your Watch :</h1>
    <%= simple_form_for(@watch) do |f| %>
      <%= f.input :name, class: "input-watches-new" %>
      <%= f.input :price, class: "input-watches-new" %>
      <%= f.input :brand, class: "input-watches-new" %>
      <%= f.input :model, class: "input-watches-new" %>
      <%= f.input :description, class: "input-watches-new" %>
      <%= f.input :movement_type, as: :select, collection: ["Manual", "Automatic"], class: "input-watches-new"  %>
      <%= f.input :gender, as: :select, collection: ["Woman", "Men", "Kid"], class: "input-watches-new" %>
      <%= f.input :photo, as: :file, class: "input-watches-new" %>
      <%= f.submit "Submit", class: "btn-watches-new" %>
    <% end %>
    <div class="back-link-watches-new"><%= link_to "<- Back", watches_path, class: "btn-watches-new" %> </div>
  </div>
</div>
