<h1>Details of <%= @watch.name %></h1>
<%# image %>
<h3>Watch Name :</h3>
<p><%= @watch.name %></p>
<h3>Watch Brand :</h3>
<p><%= @watch.brand %></p>
<h3>Watch Model :</h3>
<p><%= @watch.model %></p>
<h3>Watch Price :</h3>
<p><%= @watch.price %></p>
<h3>Description :</h3>
<p><%= @watch.description %></p>
<h3>Movement type :</h3>
<p><%= @watch.movement_type %></p>
<h3>Gender :</h3>
<p><%= @watch.gender %></p>
<div><%= link_to "<- Back", watches_path %> </div>
