<!DOCTYPE html>
<html>
  <head>
    <title>TicTacRent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="announcement-bar">
  Discover elegance on your wrist - Rent a luxury watch now!
</div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Liens en haut à gauche -->
    <%= link_to 'Offer Your Watch', new_watch_path, class: 'offer-watch-link position-absolute top-0 start-0 ms-5 mt-2' %>
    <!-- Logo au centre -->
    <div class="mx-auto my-2">
      <%= link_to root_path do %>
        <%= image_tag('logo-final-tic-tac-rent.png', alt: 'Tic Tac Rent Logo', class: 'logo-container d-block mx-auto') %>
      <% end %>
      <!-- Liens en dessous du logo -->
      <div class="nav-link-container d-flex justify-content-center mt-2">
        <%= link_to 'Watches', watches_path, class: 'nav-link' %>
        <%= link_to 'Dashboard', user_dashboard_path, class: 'nav-link' %>
        <%= link_to 'Brands', "brands_path", class: 'nav-link' %>
      </div>
    </div>
    <!-- Liens en haut à droite -->
    <div class="nav-link position-absolute top-0 end-0 me-5 mt-2">
      <%= link_to 'Sign In', user_session_path, class: 'nav-link' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
      <%= link_to "log_out", destroy_user_session_path, turbo_method: :delete %>

    </div>
    <!-- Barre de recherche et panier en bas -->
    <div class="search-container position-absolute bottom-0 start-0 mb-3 ms-5">
      <%= form_with url: "search_path", method: :get, class: 'd-flex' do |form| %>
        <%= form.search_field :q, class: 'form-control me-2', placeholder: 'Recherche...' %>
        <%= form.submit 'Search', class: 'btn btn-outline-success' %>
      <% end %>
      <%= link_to "cart_path" do %>
        <i class="bi bi-cart3"></i>
      <% end %>
    </div>
  </div>
</nav>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


  </body>
</html>
